body {
	
	
		  margin-top: 10px;
          margin-right: 18px;
          margin-left: 18px;
				
	
	
	
}


.menu {
		
	font-family: chiller;
	color:#FE4365;
	font-size: 50px;
	
	
}


	p{
		
	font-family: magneto;
	color:#FE4365;
	font-size: 30px;
		
	}
	
	
	
